<%! from django.utils.translation import ugettext as _, get_language %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>
</br>
</br>
% if get_language() == 'ar':
    <h1>من نحن</h1>
% else:
    <h1>About Us</h1>
% endif
<section class="container about">
    <div class="row">
        <div class="col-md-12">
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="about_tab_1">
                  % if get_language() == 'ar':
                    <div class="row">
                        <h2>عن منصة زادي</h2>
                        <img src="/static/themes/edraak/images/water.jpg" style="float: left; height: 470px; margin-right: 20px;">
                        <p>”زادي" هي منصة إلكترونية عربية للمساقات الجماعية مفتوحة المصادر، وتعرف باللغة الإنجليزية بإسم (موكس)، وهذه المنصة تأتي بمبادرة من مؤسسة مجموعة زاد للتعليم و التطوير.
وتحرص مؤسسة الملكة رانيا على بذل كافة الجهود والمساعي للمساهمة في وضع العالم العربي في المقدمة في مجال التربية والتعليم كونهما حجر الأساس لتطور و ازدهار الشعوب.</p>
                        <p>وإيماناً من مؤسسة زاد بأهمية التعليم وما له من أثر في تحسين نوعية حياتنا، سواء كأفراد أو كمجتمعات ودول، ستوفر زادي التعليم النوعي للعالم العربي من خلال تقديم مساقات منتقاه يقوم على تطويرها أفضل المحترفين والخبراء في العالم العربي وأخرى مترجمة ومعربة عن الأفضل عالمياً.</p>
                        <p>ولذلك، فان المؤسسة ستقوم بتسخير الموارد البشرية العربية الموجودة في المنطقة لانشاء “زادي” كواحدة من اوائل المنصات العربية الإلكترونية "للموكس" .</p>
                        <p>وستشكل هذه المنصة فرصة فريدة ومهمة للوطن العربي، وستفتح المجال للمتعلمين العرب للإلتحاق عبر شبكة الإنترنت بمساقات متوفرة من قبل أفضل الجهات التعليمية مع امكانية الحصول على شهادات اتقان في بعض منها، وستفتح المجال أيضاً للإلتحاق بمساقات جديدة باللغة العربية لأفضل الأكاديمين العرب لإثراء التعليم عربياً. و من الجدير بالذكر أن كافة المساقات على منصة “زادي" مجانية. وتتطلع أيضاً مجموعة زاد إلى استخدام المنصة لدعم وإبراز القدوات العربية من خلال تطوير مساقات قصيرة يعدها محترفون و خبراء في مجالات مختلفة من العلوم.</p>
                        
                    </div>
                    <br/><br/><br/>
                    <div class="row">
                        <h2>الشركاء المؤسسون</h2>
                        <img src="/static/themes/edraak/images/oliver.jpg" style="float: left;  height: 300px; margin-right: 20px;">
                        <p>منذ أن كانت مجرد فكرة، كانت منصة زادي مبادرة عربية، هدفها خدمة كافة الشعوب العربية من المحيط إلى الخليج. وبناءً على ذلك فقد التمست مؤسسة الملكة رانيا الدعم في هذه المبادرة من القادة العرب ذوي الرؤية، الذين يعملون لمستقبل أفضل لمنطقتنا العربية.</p>  

            <p>ان مجموعة زاد تؤمن بأن هذه المنصة ستمكّن العالم العربي من البناء على الإهتمام العالمي بتطورات المنطقة، ليتمكن العالم العربي من رواية قصته بنفسه. ومن خلال “زادي" سيتمكن أساتذة الجامعات العرب وخبراء المنطقة من تقديم مساقات باللغة الإنجليزية عن عن العديد من المواضيع المفيدة.</p>

                     
                    </div>


                    <div class="row">
                        <h2>الجهات الراعية</h2>
                        <img src="/static/themes/edraak/images/bird.jpg" style="float: left;  height: 300px; margin-right: 20px;">
                        <p>تفتخر مؤسسة مجموعة زاد بعمل شراكات مع عديد من الجهات التي ستقوم بتوفر تعليم نوعي للشعوب العربية على نطاق أوسع.</p>
                        <p>نحن نعمل على تحسين سبل المعيشة و توفير الفرص للأقل حظاً في الدول النامية، خصيصاً في العالم العربي و إفريقيا. تشمل مشاريع المؤسسة العديد من مقومات الحياة مثل التعليم، البحث العلمي، و خدمات تنمية المجتمع، إضافةً الي العديد من المجالات الثقافية .</p>
                    </div>
                    % else:
                    <div class="row">
                        <h2>About Zadi</h2>
                        <img src="/static/themes/edraak/images/tree.jpg" style="float: right; height: 470px; margin-left: 20px;">
                        <p>Zadi, is a massive open online course (MOOC) platform, that is an initiative of ZadGroup. ZadGroup is determined to ensure that the Arab world is at the forefront of educational innovation. As such, ZadGroup has capitalized on regional Arab talent to leverage technology developed by the Harvard-MIT consortium, and edX, to create the first non-profit Arabic MOOC platform. The new MOOC platform will present the Arab world with unique and vital opportunities that can be part of a necessary revolution in education and learning.</p>
                        <p>First, the platform will broadcast the best Arab professors to the region, offering original Arabic courses to further enrich Arab education. Through its partnership with edX, the platform will also give Arab learners access in Arabic to courses taught and developed at top tier institutions. All courses are delivered at no cost to the learner.</p>
                        <p>Second, ZadGroup envisions the use of the platform to showcase Arab role models by broadcasting short online courses by practitioners and professionals from a variety of fields spanning different fields of sciences.</p>
                        <p>Finally, we believe that the platform will enable the Arab world to take advantage of the international interest in regional affairs to tell its own story to the world. Arab university professors and regional experts can use the platform to give courses in English about the region and its history. This will serve to inform a global audience that is interested in the region’s development.</p>
                    </div>
                    <br/><br/><br/>
                    <div class="row">
                        <h2>Founding Partners</h2>
                        <img src="/static/themes/edraak/images/oliver.jpg" style="float: right; height: 300px; margin-left: 20px; margin-bottom: 20px">
                        <p>Zadi has been a pan-Arab effort meant to serve the entire Arab region.  As such, ZadGroup has sought support from visionary organizations across the Arab world. </p>
                        
                    </div>
                    <br/><br/><br/>
                    <div class="row">
                        <h2>Sponsors</h2>
                        <img src="/static/themes/edraak/images/water.jpg" style="float: right; height: 300px; margin-left: 20px; margin-bottom: 20px">
                        <p>ZadGroup is the main sponsor of the Zadi platform  and to acknowledge it’s commitment to increasing access to quality education for Arab learners.</p>
                    </div>
                    % endif
                </div>
            </div>
        </div>
    </div>
</section>
