body {
  .container .discussion-body {
    .helpgrid-row {
      .row-item-full {
        .row-description {
          width: 75%; // To fit the narrow layout
        }
      }
    }
  }

  .discussion.container, .discussion-module {
    .action-button {
      .action-label {
        @include ltr {
          vertical-align: middle;
        }

        @include rtl {
          vertical-align: top;
        }
        // fix odd spacing
      }

      .action-icon {
        .icon {
          @include ltr {
            vertical-align: middle;
          }

          @include rtl {
            vertical-align: top;
          }
          // fix odd spacing
        }
      }
    }
  }
}

html {
  body.discussion, .discussion-module {
    .comments {
      .comment-form {
        .wmd-input {
          min-height: 45px; // Avoid bad scrollbars
        }
      }
    }
  }
}