// FONTS
$sans-serif: 'Droid Arabic Kufi', $verdana, sans-serif;
$droid-sans: 'Droid Arabic Kufi', 'sans-serif';
$din-normal: 'din-normal';
$monospace: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace;
$body-font-family: $droid-sans;
$serif: $georgia;

// IMAGES: backgrounds
@include ltr {
  $homepage-bg-image: url(../themes/edraak/images/edraak_header_bg.png) !global;
}

@include rtl {
  $homepage-bg-image: url(../themes/edraak/images/edraak_header_bg_ar.png) !global;
}

$login-banner-image: url(../themes/edraak/images/bg-banner-account.png);
$register-banner-image: url(../themes/edraak/images/bg-banner-account.png);

// The real path is : /edx/app/edxapp/themes/edraak/static/images/courses
// but the below path refers to the path after collectstatic (paver update assets)
$video-thumb-url: '../themes/edraak/images/courses/video-thumb4.png';

$light-blue: rgb(0, 166, 170);

// ====================

// SPLINT: new standards

// SPLINT: fonts
$f-serif: $serif;
$f-sans-serif: $sans-serif;
$f-monospace: $monospace;

// SPLINT: colors