<%! from django.utils.translation import ugettext as _, get_language %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
homepage_overlay_html = microsite.get_value('homepage_overlay_html')

show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "6UeiGNAdnpg")

show_partners = microsite.get_value('show_partners', True)

%>

<section class="edraak-home">
    

    <section class="container">
        <section class="edraak-highlighted-courses" id="highlighted-courses">
            <h2 class="main-title">
                <div id="highlighted-courses-link">
                    % if get_language() == 'ar':
                            جميع الحزم التعليمية
                    % else:
                            ${_('All Courses')}
                    % endif
                </div>
            </h2>
            
            <div class="span12 offset3" style="text-align:center">
                <p>ترتيب حسب</p>
                <form method="get" action="/all_courses">
                     <select name='sort_value' onchange='if(this.value != -1) { this.form.submit(); }'>
                         <option value='-1'>اختر من القائمة</option>
                         <option value='0'
                                        % if zero: 
                                            selected
                                        % else:
                                            "" 
                                        % endif 
                                        >الاحدث
                        </option>
                         
                        <option value='1'
                                        % if one: 
                                            selected
                                        % else:
                                            "" 
                                        % endif 
                                        > الاقدم
                                        
                        </option>
                         
                        <option value='2'
                                        % if two: 
                                            selected
                                        % else:
                                            "" 
                                        % endif 
                                        > الاكثر انضماما
                                        
                        </option>
                         
                        <option value='3'
                                        % if three: 
                                            selected
                                        % else:
                                            "" 
                                        % endif 
                                        > الاقل انضماما
                                        
                        </option>

                    </select>
                </form>
            </div>    

            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
                
                <div class="row courses">
                    %for course in courses:
                        <%include file="course.html" args="course=course" />
                    %endfor
                </div>

            % endif

        </section>
    </section>

</section>



<%block name="js_extra">
<script type="text/javascript">
    $(window).load(function () {
        if (getParameterByName('next')) {
            $('#login').trigger("click");
        }
    })
</script>
</%block>

% if show_signup_immediately is not UNDEFINED:
## NOTE: This won't work in production, because anonymous views are cached, so it will
## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
    $(window).load(function () {
        $('#signup_action').trigger("click");
    });
</script>
% endif