## mako
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.utils import translation

# App that handles subdomain specific branding
import branding
# app that handles site status messages
from status.status import get_site_status_msg
%>

<%! from microsite_configuration import microsite %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

<%block cached="False">
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>

  <header class="global ${"slim" if course else ""}" aria-label="${_('Global Navigation')}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="logo">
                    % if user.is_authenticated():
                        <a href="/courses">
                    % else:
                        <a href="${marketing_link('ROOT')}">
                    % endif

                    <%block name="navigation_logo">
                        <img src="${static.url('themes/edraak/images/zadi_logo.png')}" alt="${platform_name()}"/>
                    </%block>
                  </a>
                </h1>

    % if course:
    <h2><span class="provider">${course.display_org_with_default | h}:</span> ${course.display_number_with_default | h} ${course.display_name_with_default}</h2>
    % endif

    % if user.is_authenticated(): 

    <ol class="language-select">
        <li>
            <%include file="widgets/_language-change.html" />
        </li>
    </ol>

        <ol class="user">
      <li class="primary">
        <a href="${reverse('dashboard')}" class="user-link">
          <span class="avatar"></span>
          <span class="sr">${_("Dashboard for:")} </span> ${user.username}
        </a>
      </li>
      <li class="primary">
        <a href="#" class="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr">${_("More options dropdown")}</span> &#9662;</a>
        <ul class="dropdown-menu" aria-label="More Options" role="menu">
          <%block name="navigation_dropdown_menu_links" >
            <li><a href="${marketing_link('FAQ')}">${_("Help")}</a></li>
          </%block>
          <li><a href="${reverse('logout')}" role="menuitem">${_("Log Out")}</a></li>

        </ul>
      </li>
    </ol>

    <ol class="left nav-global authenticated">

      <%block name="navigation_global_links_authenticated">
        % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):

          <li class="nav-global-01">
            <a href="courses/#highlighted-courses-link">${_('Find Courses')}</a>
          </li>
                    <li class="nav-global-01">
            <a href="${marketing_link('ABOUT')}">
                % if translation.get_language() == 'ar':
عن زادي
            % else:
                About Zadi
            % endif
            </a>
          </li>
          <li class="nav-global-01">
              % if user.is_authenticated():
                <a href="/courses/#how-it-work">
              % else:
                  <a href="/#how-it-work">
              % endif

                % if translation.get_language() == 'ar':
                كيف تتعلم مع زادي
            % else:
                ${_('How It Works')}
            % endif
            </a>
          </li>
##          <li class="nav-global-01">
##              % if translation.get_language() == 'ar':
##                <a href="/#highlighted-courses-link">المقررات</a>
##              % else:
##              <a href="/#highlighted-courses-link">${_('Courses')}</a>
##              % endif
##          </li>
          <li class="nav-global-01">
              % if user.is_authenticated():
              <a href="/courses/#collaborate-with-edraak">
              % else:
              <a href="/#collaborate-with-edraak">
              % endif


                % if translation.get_language() == 'ar':
               فرص التعاون
        % else:
                ${_('Get Involved')}
        % endif
                </a>
          </li>
        % endif

      </%block>
    </ol>

      % if display_shopping_cart: # see shoppingcart.context_processor.user_has_cart_context_processor
        <ol class="user">
          <li class="primary">
            <a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
              <i class="icon-shopping-cart"></i> Shopping Cart
            </a>
          </li>
        </ol>
      % endif
    % else:
    <ol class="left nav-global">

      <%block name="navigation_global_links">
        % if microsite.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False)):
          <li class="nav-global-01">
            <a href="/#how-it-work-link">${_("About Edraak")}</a>
          </li>
          <li class="nav-global-01">
            <a href="/#how-it-work-link">${_("How it Works")}</a>
          </li>
          <li class="nav-global-02">
            <a href="${marketing_link('COURSES')}">${_("Courses")}</a>
          </li>
          <li class="nav-global-03">
            <a href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
          </li>
        % endif
      </%block>
      % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
          % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
          <li class="nav-global-01">
               % if translation.get_language() == 'ar':
            <a class="cta cta-register" href="${reverse('course-specific-register', args=[course.id])}">سجل الآن</a>
              % else:
              <a class="cta cta-register" href="${reverse('course-specific-register', args=[course.id])}">${_("Register Now")}</a>
              % endif
          </li>
          % else:
          <li class="nav-global-01">
            <a href="${marketing_link('ABOUT')}">
                % if translation.get_language() == 'ar':
عن زادي
            % else:
                About Zadi
            % endif
            </a>
          </li>
          <li class="nav-global-01">
            <a href="/#how-it-work">
                % if translation.get_language() == 'ar':
                كيف تتعلم مع زادي
            % else:
                ${_('How It Works')}
            % endif
            </a>
          </li>
          <li class="nav-global-01">
##              % if translation.get_language() == 'ar':
##                <a href="/#highlighted-courses-link">المقررات</a>
##              % else:
              <a href="/#highlighted-courses-link">${_('Courses')}</a>
##              % endif
          </li>
          <li class="nav-global-01">
            <a href="/#collaborate-with-edraak">

                % if translation.get_language() == 'ar':
               فرص التعاون
        % else:
                ${_('Get Involved')}
        % endif
                </a>
          </li>
          <li class="nav-global-01">
              % if translation.get_language() == 'ar':
            <a class="cta cta-register" href="/register">سجل الآن</a>
              % else:
              <a class="cta cta-register" href="/register">${_("Register Now")}</a>
              % endif
          </li>
          <li class="nav-global-01">
          % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
          <a class="" href="${reverse('course-specific-login', args=[course.id])}${login_query()}">${_("Sign in")}</a>
          % else:
          <a class="btn-login-menu" href="/login${login_query()}">

                % if translation.get_language() == 'ar':
               دخول
        % else:
                ${_("Sign in")}
        % endif
              </a>
          % endif
          </li>
          <li>
            <%include file="widgets/_language-change.html" />
          </li>
          % endif
      % endif
    </ol>
    % endif


  </div>

            </div>
        </div>
</header>

% if course:
<!--[if IE]>
<div class="ie-banner" aria-hidden="true">${_('<strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using {chrome_link_start}Chrome{chrome_link_end} or {ff_link_start}Firefox{ff_link_end}.').format(chrome_link_start='<a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">', chrome_link_end='</a>', ff_link_start='<a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">', ff_link_end='</a>')}</div>
<![endif]-->
% endif



%if not user.is_authenticated():
  <%include file="forgot_password_modal.html" />
%endif

<%include file="help_modal.html"/>